* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    --bg-color: ##3291B6;
    --primary-color: #007185;
    --secondary-color: #003B3F;
    --color-font1: white;
    --color-font2: black;
    --btn-color1: rgb(233, 233, 233);
    --btn-color2: rgb(180, 180, 180);
    --btn-color-hover: rgb(102, 102, 102);
}

body {
    display: flex;
    background-color: rgb(50, 145, 182);
    justify-content: center;
    align-content: center;


}

.bodyCalculator {
    margin: 20px;
    width: 350px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.tela {
    width: 99%;
    min-height: 80px;
    background-color: var(--color-font1);
    text-align: right;
    border-radius: 8px;
    margin-bottom: 10px;
}

.currentValue {
    padding: 5px;
    font-weight: 700;
    font-size: 40px;
    word-wrap: break-word;

}

.previousValue {
    padding: 5px;
    color: rgb(97, 97, 97);
    word-wrap: break-word;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    height: 50px;
    width: 22%;
    margin: 3px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: var(--btn-color1);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);
}

.equal {
    background-color: var(--btn-color2);
    width: 47.5%;
}

.functions {
    width: 112px;
    background-color: var(--btn-color2);
    width: 35%;
}


.operators {
    background-color: var(--btn-color2);
}

img {
    width: 25px;
}